.wrapped {
    border: 5px solid black;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.header {
    border: 5px solid salmon;
    background-color: #1f2937;
    font-family: Roboto, sans-serif;
    color: white;
    display: flex;
    justify-content: space-evenly;
    gap: 35%;
    height: 8vh;
}

.left-header {
    border: 5px solid orange;
    display: flex;
    align-items: center;
    font-size: 24px;
    color: #F9FAF8;
}

.right-header {
    border: 5px solid pink;
    display: flex;
    align-items: center;
    font-size: 18px;
    color: #E5E7EB;
}

ul {
    list-style: none;
    display: flex;
    gap: 21px;
    padding: 0;
}

.first-content {
    border: 5px solid red;
    background-color: #1f2937;
    display: flex;
    justify-content: space-evenly;
    flex: 1;
}

.first-content-left {
    border: 5px solid rgb(43, 130, 68);
    font-size: 18px;
    color: #E5E7EB;
    margin-left: -154px;
}

.first-text-one {
    border: 5px solid pink;
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
    display: flex;
    max-width: 300px;
}

.fist-text-two {
    border: 5PX solid blueviolet;
    font-size: 18px;
    color: #E5E7EB;
    max-width: 420px;
}

.first-content-right {
    border: 5px solid blue;
    font-size: 18px;
    color: #E5E7EB;
    display: flex;
    align-items: center;
    padding: 10px 118px;
}

.sign-up {
    border: 5px solid skyblue ;
    background-color: #3882F6;
    color: #F9FAF8;
    border-radius: 9px;
    padding: 7px 28px;
}

.second-content {
    border: 5px solid gray;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    flex: 1;
}

.informations {
    border: 5px solid orange;
    text-align: center;
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
    margin-top: 20px;
}

.around-contener {
    border: 5px solid black;
    display: flex;
    margin: auto;
}

.card-contener {
    border: 5px solid rgb(169, 124, 47);
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    margin-top: 20px;
    margin-right: 20px;
    margin-left: 20px;
}

.card-contener-one {
    border: 5px solid #3882F6;
    border-radius: 11px;
    padding: 48px 23px;
    width: 57px;
}

.card-contener-two {
    border: 5px solid #3882F6;
    border-radius: 11px;
    padding: 48px 23px;
    width: 57px;
}

.card-contener-three {
    border: 5px solid #3882F6;
    border-radius: 11px;
    padding: 48px 23px;
    width: 57px;
}

.card-contener-four {
    border: 5px solid #3882F6;
    border-radius: 11px;
    padding: 48px 23px;
    width: 57px;
}

.card-contener-description {
    border: 5px solid pink;
    width: 130px;
    text-align: center;
    margin-top: 5px;
    font-size: 18px;
    color: #1f2937;
}

.third-content {
    border: 5px solid skyblue;
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.quote {
    border: 5px solid blueviolet;    
    font-size: 36px;
    color: #1f2937;
    font-style: italic;
    margin-top: 50px; 
    width: 750px;
}

.author-quote {
    border: 5px solid green;
    margin-left: 604px;
    margin-bottom: 50px;
    color: #1f2937;
    text-align: center;
}

.fourth-content {
    border: 5px solid green;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px;
}

.content-four {
    border: 5px solid pink;
    display: flex;
    font-size: 18px;
    border-radius: 11px;
    background-color: #3882F6;
    width: 900px;
    justify-content: space-evenly;
    align-items: center;
}


.contener-publicity {
    border: 5px solid salmon;
    display: flex;
    flex-direction: column;
    padding: 15px;
    width: 550px;
}

.text-publicity-one {
    border: 5px solid brown;
    color: #F9FAF8;
    font-size: 24px;
}

.text-publicity-two {
    border: 5px solid red;
    color: #F9FAF8;

}

.sign-up-two {
    border: 2px solid #F9FAF8;
    border-radius: 9px;
    background-color: #3882F6;
    color: #F9FAF8;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    width: 95px;
}

.footer {
    border: 5px solid black;
    background-color: #1f2937;
    color: #F9FAF8;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    height: 8vh;
    flex-shrink: 0;
}